@import "variables.less";
@import "mixins.less";

#ProcessesApplication {

  overflow-x: hidden;

  .work-card-actions {
    width: 100%;
  }

  .v-expansion-panel::before {
    /*box-shadow: 1px 0px 1px 0px rgba(0, 0, 0,  5%),
                1px -1px 1px 0px rgba(0, 0, 0, 14%),
               -1px 1px 1px 0px rgba(0, 0, 0, 12%) !important;*/
    box-shadow: none;
  }

  .work {
    max-width: inherit;
    background: #F4F6F9 0 0 no-repeat padding-box;
  }

  .text-align-start {
    text-align: start !important;
  }

  .text-align-end {
    text-align: end !important;
  }

  .text-align-center {
    text-align: center !important;
  }

  .request-title {
    cursor: pointer;
  }

  .float-e {
    float: right ~'; /** orientation=lt */ ';
    float: left ~'; /** orientation=rt */ ';
  }

  .float-e-inverse {
    float: right ~'; /** orientation=rt */ ';
    float: left ~'; /** orientation=lt */ ';
  }

  .line-panel-work {
    flex: 1 !important;

    margin-right: 30px ~'; /** orientation=lt */ ';
    margin-right: 10px ~'; /** orientation=rt */ ';

    margin-left: 10px ~'; /** orientation=lt */ ';
    margin-left: 30px ~'; /** orientation=rt */ ';
  }

  .work-panel-content {
    margin-right: 24px ~'; /** orientation=rt */ ';
    margin-left: 24px ~'; /** orientation=lt */ ';
  }

  .v-expansion-panel-header > *:not(.v-expansion-panel-header__icon) {
    flex: 0 1 auto;
  }

  .v-expansion-panel-content__wrap{
    padding: 0px;
  }

  .v-expansion-panel-header {
    padding-bottom: 0px;
    padding-top: 0px !important;
  }

  .clear-both {
    clear: both;
  }
  .v-application textarea {
    resize: none;
  }

  .work-avatar {
    margin-left: 10px ~'; /** orientation=lt */ ';
    margin-right: 10px ~'; /** orientation=rt */ ';
  }

  .card-footer-btn {
    bottom: 0;
    right: 0 ~'; /** orientation=lt */ ';
    left: 0 ~'; /** orientation=rt */ ';
    position: absolute;
  }

  .card-content {
    height: 144px
  }

  .workflow-card-desc {
    min-height: 88px;
  }

  .work-filter {
    width: 130px;

    .v-input__control {
      height: 20px;
    }
  }

  .workflow-filter {
    margin-right: 50px ~'; /** orientation=lt */ ';
    margin-left: 50px ~'; /** orientation=rt */ ';
    width: 130px;

    .v-input__control {
      height: 20px;
    }
  }

  .add-process-btn {
    min-width: 20px !important;
  }

  .work-controls {
    max-width: inherit;
  }

  .work-status-col {
    min-height: 48px;
  }

  .complete-btn {
    left: 6px ~'; /** orientation=lt */ ';
    right: 6px ~'; /** orientation=rt */ ';
    width: 23px;
    height: 23px;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
  }

  .workflow-controls {
    max-width: inherit;
  }

  .filter-icon-button {
    color: #a8b3c5 !important;
    caret-color: #a8b3c5 !important;
  }

  .filter-query-width {
    max-width: 200px;
  }

  .workflow-filter-query {
    padding-top: 10px !important;

    .v-input__icon.v-input__icon--prepend-inner i {
      font-size: 20px !important;
      margin-top: 2px;
    }
    .v-input__slot {
      height: 32px;
    }
  }

  .work-filter-query {
    max-width: 200px;
    padding-top: 26px;
    position: absolute;
    margin-right: 12px ~'; /** orientation=rt */ ';
    margin-left: 12px ~'; /** orientation=lt */ ';
    right: 165px ~'; /** orientation=lt */ ';
    left: 165px ~'; /** orientation=rt */ ';

    margin-top: 0 !important;

    .v-input__icon.v-input__icon--prepend-inner i {
      font-size: 20px !important;
      margin-top: 2px;
    }
    .v-input__slot {
      height: 32px;
    }
  }

  .indicator {
    width: 3px;
    height: 100%;
  }

  .work-status {
    max-width: 150px;
  }

  #addWorkFlowDrawer {

    textarea {
      border: 0;
      box-shadow: none;
    }

    .v-counter {
      text-align: end;
    }
  }

  #addWorkDrawer {

    .work-detail {
      min-height: 140px;
    }

    .work-description {
      min-height: 150px;
      word-break: break-word;

      ul li {
        list-style-position: inside;
        list-style-type: disc;
      }

      .uiIconMessageLength {
        font-size: 14px;
        color: @primaryColor;

        &:before {
          content: "\e910";
        }
      }
    }

    textarea {
      border: 0;
      box-shadow: none;
    }

    .v-counter {
      text-align: end;
    }

    .work-title {
      background: rgba(96, 147, 204, 0.67) 0 0 no-repeat padding-box;
      border-radius: 19px;
      max-width: 90%;
      width: fit-content;
      top: 3px;
      position: relative;
    }

    .col-work-title {
      height: 48px;
    }

    .cke_bottom {
      height: 30px !important;
      background: transparent none !important;
    }
    .cke_bottom .cke_button_icon {
      filter: opacity(0.5);
    }
  }

  .plus-process-attachment {
    font-size: 20px;
  }

  .custom-icon-size {
    font-size: 20px !important;
  }

  .custom-icon-color {
    color: #5F708A;
  }

  #myWorks {
    min-height: 600px;
  }

  #workflows {
    min-height: 600px;
  }

  .v-text-field--outlined.v-input--has-state fieldset {
    border: 1px solid !important;
  }

  .v-text-field--outlined.v-input--is-focused fieldset {
    border: 1px solid !important;
  }

  .custom-counter {
    height: 20px
  }
}

.processes-work-menu-icon {
  margin-bottom: 5px;
}